# Server Port
PORT=8080

# Database Configuration (PostgreSQL)
DB_USER=postgres
DB_HOST=localhost
DB_NAME=inventory_db
DB_PASSWORD=postgres
DB_PORT=5432

# CORS Allowed Origin (Frontend URL - Ngăn cách bằng dấu phẩy nếu có nhiều domain)
CLIENT_ORIGIN=http://localhost:3000
